html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif !important;
}

#root {
  display: flex;
  min-height: 100%;
}
