@import 'variables';

.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex;
  &_justify {
    &--center {
      justify-content: center;
    }
    &--end {
      justify-content: flex-end;
    }
    &--space-between {
      justify-content: space-between;
    }
  }
  &_align {
    &--center {
      align-items: center;
    }
    &--bottom {
      align-items: flex-end;
    }
  }
  &_direction {
    &--row {
      flex-direction: row;
    }
    &--column {
      flex-direction: column;
    }
  }
}

.bg {
  &-white {
    background: white !important;
  }
  &-dark {
    background: $bg-dark-color !important;
  }
  &-pr-red {
    background: $color-pr-red !important;
  }
  &-pr-orange {
    background: $color-pr-orange !important;
  }
  &-pr-yellow {
    background: $color-pr-yellow !important;
  }
  &-pr-green {
    background: $color-pr-green !important;
  }
  &-pr-cyan {
    background: $color-pr-cyan !important;
  }
  &-pr-blue {
    background: $color-pr-blue !important;
  }
  &-pr-magenta {
    background: $color-pr-magenta !important;
  }
  &-pr-purple {
    background: $color-pr-purple !important;
  }
}

.c {
  &-white {
    color: white !important;
  }
  &-primary {
    color: #096dd9 !important;
  }
  &-danger {
    color: #f5222d !important;
  }
  &-success {
    color: #237804 !important;
  }
}

.fs {
  &-xs {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  &-s {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  &-md {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  &-lg {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  &-xl {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  &-xxl {
    font-size: 30px !important;
    line-height: 38px !important;
  }
}
.fw {
  &-regular {
    font-weight: 400 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
}


@each $i, $size in  $spacers {
  .m-#{$i} { margin: #{$size}px !important; }
  .p-#{$i} { padding: #{$size}px !important; }

  .mt-#{$i} { margin-top: #{$size}px !important; }
  .mb-#{$i} { margin-bottom: #{$size}px !important; }
  .ml-#{$i} { margin-left: #{$size}px !important; }
  .mr-#{$i} { margin-right: #{$size}px !important; }

  .pt-#{$i} { padding-top: #{$size}px !important; }
  .pb-#{$i} { padding-bottom: #{$size}px !important; }
  .pl-#{$i} { padding-left: #{$size}px !important; }
  .pr-#{$i} { padding-right: #{$size}px !important; }
}

.cursor-pointer {
  cursor: pointer !important;
}

.t-align {
  &-r {
    text-align: right !important;
  }
}

.mobile-only {
  @media (min-width: $mobile-screen-max-width + 1) {
    display: none !important;
  }
}
.desktop-only {
  @media (max-width: $mobile-screen-max-width) {
    display: none !important;
  }
}
