$spacer-0: 0;
$spacer-1: 4;
$spacer-2: 8;
$spacer-3: 12;
$spacer-4: 16;
$spacer-5: 20;
$spacer-6: 24;
$spacer-7: 28;
$spacer-8: 32;
$spacer-9: 64;

$spacers: (0: $spacer-0, 1: $spacer-1, 2: $spacer-2, 3: $spacer-3, 4: $spacer-4, 5: $spacer-5, 6: $spacer-6, 7: $spacer-7, 8: $spacer-8, 9: $spacer-9);

$mobile-screen-max-width: 812px;

// colors
$bg-dark-color: #001529;

// font-size
$fs-xs: 12px;
$fs-s: 14px;
$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-xxl: 30px;
