.app-menu {
  .sub-menu {
    &__item {
      padding: 0 !important;
    }

    &__link-col {
      padding-left: 48px;
      overflow: hidden;
    }

    &__name-col {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
